<style>
    #rabat{ width: 700px; height: 525px; background: #000; float:left; display: inline; color: white }
    #ess { width: 700px; height: 525px; background: #000; float:left; display: inline; color: white }
    #vol { width: 700px; height: 525px; background: #000; float:left; display: inline; color: white }
</style>

<div class="container_12">
		<div class="grid_3">
				<div class="grid_2">
					<h1>Rabat</h1>
					<h2>Photos from Morocco</h2>
				</div>
				<div class="grid_2">
					<%= link_to rrabats_path, :'data-remote' => true do %>
					<%= image_tag '/assets/rab.jpg' %>				
					<% end %>
				</div>
				<div class="grid_2">
					<%= link_to rrabats_path, :'data-remote' => true do %>
					<p>Rabat</p>
					<% end %>
				</div>
				<div class="grid_2">
					<%= link_to erabats_path, :'data-remote' => true do %>
					<%= image_tag '/assets/ess.jpg' %>
					<% end %>
				</div>				
				<div class="grid_2">
					<%= link_to erabats_path, :'data-remote' => true do %>
					<p>Essaouira</p>
					<% end %>
				</div>
				<div class="grid_2">
					<%= link_to vrabats_path, :'data-remote' => true do %>
					<%= image_tag '/assets/vol.jpg' %>
					<% end %>		
				</div>
				<div class="grid_2">
					<%= link_to vrabats_path, :'data-remote' => true do %>
					<p>Volubilis</p>
					<% end %>
				</div>
		</div>		
			<div class="grid_9">
			<img src="assets/rabat.jpg">
			</div>
</div>    

